.sidebar{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #979797;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar foto{
    background: url(../../assets/cover.png);
    background-color: #979797;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
}

.sidebar div {
    padding-top: 20px;
}

.sidebar div img{

    border-radius: 50%;
    display: block;
    margin: auto;
    width: 120px;
    height: 120px;
    --webkit-filter: drop-shadow(2px 3px 3px #121212);
    filter: drop-shadow(2px 3px 3px #121212);
    object-fit: cover;
}

.sidebar a{
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: ease-in-out 0.2s;
}

.sidebar a svg{
    margin-right: .5em;
}

.sidebar a:hover{
    background-color: #4b4949;
    color: #fff;
}

.sidebar a svg:hover{
    background-color: #4b4949;
    color: #fff;
}

.content{
    margin-left: 200px;
    padding: 1px 16px;
}

.redirect-btn{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content{
        margin-left: 0;
    }

    .sidebar div{
        display: none;
    }

    .sidebar a{
        float: left;
    }

    .sidebar a svg{
         margin-right: .5em;
    }

}

@media screen and (max-width: 400px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content{
        margin-left: 0;
    }

   
    .sidebar a {
        text-align: center;
    }

    .sidebar a svg{
        display: none; 
    }

}






.min-sidebar{
    margin: 0;
    padding: 0;
    width: 45px;
    background-color: #979797;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.min-sidebar foto{
    display: none;
}

.min-sidebar div {
    padding-top: 20px;
}

.min-sidebar div img{
    display:none
}

.min-sidebar a{
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: ease-in-out 0.2s;
}

.min-sidebar a svg{
    margin-right: .5em;
}

.min-sidebar a p{
    display: none;
}

.min-sidebar a:hover{
    background-color: #4b4949;
    color: #fff;
}

.min-sidebar a svg:hover{
    background-color: #4b4949;
    color: #fff;
}

.min-redirect-btn{
    display: none;
}

.min-content{
    margin-left: 45px;
    padding: 1px 16px;
}

@media screen and (max-width: 700px) {
    .min-sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content{
        margin-left: 0;
    }

    .min-sidebar div{
        display: none;
    }

    .min-sidebar a{
        float: left;
    }

    .min-sidebar a svg{
         margin-right: .5em;
    }

    .min-sidebar a p{
        display: flex;
    }

}

@media screen and (max-width: 400px) {
    .min-sidebar a {
        text-align: center;
        display: none;
    }

    .min-sidebar a svg{
        display: none; 
    }

    .min-sidebar a p{
        display: flex;
    }

}



